* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

body {
  background-image: url(/image/unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
  background: url(/image/banner.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

#banner-layer {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
}

#register-banner h1 {
  font-size: 4.1rem;
  margin-bottom: 1.5rem;
  color: #49e419;
  word-spacing: 50rem;
}

#register-form {
  background-color: #fdfdfd;
  padding: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#register-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#register-form p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #aaa;
  font-size: 0.8rem;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
}

#generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#generate-password:hover {
  color: #49e419;
}

#register-form #generated-password {
  border: 1px solid #49e419;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  /* display: none; */
}

#register-form #generated-password p {
  color: #49e419;
  margin-bottom: 0.5rem;
}

#register-form input[type="submit"],
#generate-options button,
#copy-password {
  background-color: #49e419;
  color: #fff;
  opacity: 0.7;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#register-form input[type="submit"]:hover {
  opacity: 1;
}

/* Segunda versão */

#generate-options {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
}

#generate-options .form-control {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#generate-options label {
  font-size: 0.8rem;
}

#generate-options input [type="text"] {
  max-width: 30px;
  text-align: center;
  border: 1px solid #ccc;
}
