* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

body {
  background: url(/image/unsplash.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
  background: url(/image/banner.jpg) center/cover no-repeat;
  width: 50%;
}

#banner-layer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#register-banner h1 {
  font-size: 4.1rem;
  margin-bottom: 1.5rem;
  color: #49e419;
  word-spacing: 50rem;
}

#register-form {
  background-color: #fdfdfd;
  padding: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#register-form h2,
#register-form p {
  text-align: center;
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
}

#generated-password {
  border: 1px solid #49e419;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

#register-form input[type="submit"] {
  background-color: #49e419;
  color: #fff;
  opacity: 0.7;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#register-form input[type="submit"]:hover {
  opacity: 1;
}

#generate-options {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #49e419;
}

#generate-options .form-control {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#generate-options label {
  font-size: 0.8rem;
}

#generate-options input[type="text"] {
  max-width: 30px;
  text-align: center;
  border: 1px solid #ccc;
}

#generate-options button {
  margin: 1rem auto;
  background-color: transparent;
  border: 2px solid #81d340;
  color: #81d340;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

#generate-options button:hover {
  color: #49e419;
  border: 2px solid #49e419;
}

#copy-password {
  margin: 1rem auto;
  background-color: transparent;
  border: 2px solid #81d340;
  color: #81d340;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

#copy-password:hover {
  color: #49e419;
  border: 2px solid #49e419;
}

.hide {
  display: none;
}

@media (max-width: 620px) {
  body {
    background-size: auto;
  }

  #register-container {
    flex-direction: column;
  }

  #register-banner,
  #register-form {
    width: 100%;
  }

  #register-banner {
    order: 2;
  }

  #banner-layer {
    padding: 1rem;
  }

  #register-form {
    padding: 2rem;
  }

  #register-form h2,
  #register-form p {
    text-align: left;
  }

  .form-control input {
    max-width: 100%;
  }

  #generate-options {
    padding: 0.5rem;
  }

  #generate-options input[type="text"] {
    max-width: 100%;
  }

  #generate-options button {
    margin: 1rem 0;
  }
}

@media (max-width: 420px) {
  #register-banner {
    display: none;
  }
}
